# SPDX-FileCopyrightText: Copyright Contributors to the GXF project
#
# SPDX-License-Identifier: Apache-2.0
version: 2
updates:
  - package-ecosystem: gradle
    directory: /
    schedule:
      interval: daily
    groups:
      minor-patch:
        update-types:
          - "minor"
          - "patch"
        patterns:
          - "*"
      major:
        update-types:
          - "major"
        patterns:
          - *
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      all:
        patterns:
          - *
